<div class="add">
    <input
      type="text"
      placeholder="Digite o nome da tarefa..."
      [ngModel]="textoDaNovaTarefa()"
      (ngModelChange)="textoDaNovaTarefa.set($event)"
      (keyup.enter)="adicionarTarefa()"
    />
    <button (click)="adicionarTarefa()">Adicionar</button>
  </div>

<div class="quadro-kanban" cdkDropListGroup>
  <app-column
    tituloDaColuna="A Fazer"
    [listaDeTarefas]="tarefasAFazer()"
    (foiSolto)="tarefaMovida($any($event))"
  >
  </app-column>
  <app-column
    tituloDaColuna="Em Pogresso"
    [listaDeTarefas]="tarefasEmProgresso()"
    (foiSolto)="tarefaMovida($any($event))"
  >
  </app-column>
  <app-column
    tituloDaColuna="Concluído"
    [listaDeTarefas]="tarefasConcluidas()"
    (foiSolto)="tarefaMovida($any($event))"
  >
  </app-column>
</div>
