.lista-cards {
  max-height: 700px;
  min-height: 400px;
  width: 400px;
  border-radius: 8px;
  border: 1px solid #dfe1e6;
  overflow-y: auto;
  background-color: #ebecf0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

h3 {
  color: #172b4d;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 15px;
  padding-left: 5px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
